<!--register form-->
<div class="jumbotron">
  <!--General label-->
  <h1 class="display-4 text-center">User login</h1>
  <hr>
  <form #form="ngForm" autocomplete="off" (submit)="onSignIn(form)">
    <div class="form-group">
      <label>username</label>
      <input name="username" #username="ngModel" [(ngModel)]="user.username" class="form-control" required>
      <!--Test if field is mandatory-->
      <!--<div class="validation-error" *ngIf="username.invalid && username.touched">This field is required.</div>-->
    </div>
    <div class="form-group">
      <label>password</label>
      <input type="password" name="password" #Position="ngModel" [(ngModel)]="user.password" class="form-control" required>
      <!--<div class="validation-error" *ngIf="password.invalid && password.touched">This field is required.</div>-->
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  </form>
</div>